/* 폰트 설정 */
/* import형식으로 가지고 올때에도 내가 만들 CSS보다 위에다 선언 */
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); */


/* 앞으로 만들 css아래에  */

/* common : 공통의 스타일 정의 */
body{font-family: 'Nanum Gothic', sans-serif;color: #333;font-weight: 400;line-height: 1.4;}

img{display: block;}

.inner{width: 1100px;margin: auto;position: relative;}

.btn{width: 130px;padding: 10px;border: 2px solid #333;border-radius: 4px;color: #333;font-weight: bold;text-align: center;display: block;box-sizing: border-box;transition: all 0.4s;cursor: pointer;}
.btn:hover{background: #333;color: #fff;}

.btn.btn--brown{color: #592b18;border-color: #592b18;}
.btn.btn--brown:hover{background: #592b18;color: #fff;}

.btn.btn--white{color: #fff;border-color: #fff;}
.btn.btn--white:hover{background: #fff;color: #333;}

.btn.btn--gold{color: #816F41;border-color: #816F41;}
.btn.btn--gold:hover{background: #816F41;color: #fff;}

.btn.btn--revers{background: #00704A;color: #fff;border: none;}
.btn.btn--revers:hover{text-decoration: underline;background: none;border: 2px solid #fff;}

/* scroll Magic으로 연결할 CSS------------------------- */
/* 맨처음 브라우저 로딩시 안보이게 설정 */
.back-to-position{opacity: 0;transition:all 1s;}

/* 왼 > 오 등장하는 모션의 시작위치 */
.back-to-position.to-right{transform: translateX(-150px);}

/* 오 > 왼 등장하는 모션의 시작위치 */
.back-to-position.to-left{transform: translateX(150px);}

/* show를 추가가되면 실행할 모션------- */
.show .back-to-position{opacity: 1;transform: translateX(0);}
.show .back-to-position.delay-0{transition-delay: 0s;}
.show .back-to-position.delay-1{transition-delay: 0.3s;}
.show .back-to-position.delay-2{transition-delay: 0.6s;}
.show .back-to-position.delay-3{transition-delay: 0.9s;}





/* ------------------------------------------------------------ */

/* HEADER 헤더영역-------------------------------------- */
header{width: 100%;background: #f6f5f0;border-bottom: 1px solid #c3c3c3;position: fixed;top: 0;z-index: 100;}
header .inner{height: 120px;}
header .inner h1{position: absolute;top: 0;bottom: 0;margin: auto;height: 75px;}
header .inner .sub-menu{position: absolute;right: 0;top: 10px;display: flex;}
header .inner .sub-menu ul.menu{display: flex;}
header .inner .sub-menu ul.menu li{position: relative;}
header .inner .sub-menu ul.menu li::before{content: "";display: block;width: 1px;height: 12px;background: #e5e5e5;position: absolute;top: 0;bottom: 0;margin: auto;}
header .inner .sub-menu ul.menu li a{display: block;padding: 10px;font-size: 12px;color: #656565;}
header .inner .sub-menu ul.menu li a:hover{color: #000;text-decoration: underline;}
header .inner .sub-menu ul.menu li:first-child::before{display: none;}

header .inner .sub-menu .search{height: 35px;position: relative;transition: all 0.4s;}
header .inner .sub-menu .search input{height: 28px;width: 30px;border-radius: 5px;border: 1px solid #ccc;background: #fff;text-indent: 5px;}
header .inner .sub-menu .search input:focus{width: 150px; border: 1px solid #669900;outline: none;}


header .inner .sub-menu .search span{position: absolute;top: 5px;bottom: 0;margin: auto;left: 5px;right: 0;}
header .inner .sub-menu .search.focused span{opacity: 0;}

/* main menu---------- */
header .inner nav ul.main-menu{display: flex;position: absolute;right: 0;bottom: 0;}
header .inner nav ul.main-menu > li .item__name{padding: 10px 20px;cursor: pointer;font-size: 14px;}
header .inner nav ul.main-menu > li:hover .item__name{background: #2c2a29;color: #669900;text-decoration: underline;border-radius: 6px 6px 0 0;}

header .inner nav ul.main-menu > li .item__contents{width: 100%;position: fixed;left: 0;display: none;}
header .inner nav ul.main-menu > li:hover .item__contents{display: block;}

/* 1층 */
header .inner nav ul.main-menu > li .item__contents .contents__menu{background: #2c2a29;padding: 0px 0px 60px;}
.item__contents ul.inner{display: flex;padding: 20px 0 95px;justify-content: left;}
.item__contents ul.inner > li h4{font-size: 14px;color: #fff;font-weight: bold;padding: 0px 45px 15px;}
.item__contents ul.inner > li h4:hover{text-decoration: underline;}
.item__contents ul.inner > li > ul li{font-size: 12px;color: #999;cursor: pointer;padding: 0px 45px 5px;}
.item__contents ul.inner > li > ul li:hover{color: #669900;text-decoration: underline;}

/* 뱃지영역------------------------------ */
.badges{position: fixed;top:150px;right: 15px;z-index: 20;}
.badges div{margin-bottom: 15px;}
.badges div img{border-radius: 10px;box-shadow: 4px 4px 10px rgba(0,0,0,0.3);cursor: pointer;}

/* main visual area-------------------------- */
.visual{margin-top: 120px;width: 100%;background: url(../images/2023_summer1_promotion_bg.jpg) no-repeat center;background-size: cover;height:32vw;}
.visual .inner{height: 646px;}
.visual .inner .title{position: absolute;top: 198px;left: -130px;}
.visual .inner .title a.btn{position: absolute;top:190px;left: 122px;}
.visual .inner .img-box .cup1{position: absolute;bottom: 125px;left: 230px;z-index: 1;}
.visual .inner .img-box .cup2{position: absolute;bottom: 125px;left: 720px;z-index: 1;}
.visual .inner .img-box .cup3{position: absolute;top: 70px;left: 850px;}
.visual .inner .img-box .cup4{position: absolute;top: 70px;right: 350px;}

.visual .fade-in{opacity: 0;}

/* 공지사항 area --------------------------------------------- */
.notice .notice-line{position: relative;}
.notice .notice-line .bg-left{position: absolute;top: 0;left: 0;width: 50%;height: 100%;background: #111;}
.notice .notice-line .bg-right{position: absolute;top: 0;right: 0;width: 50%;height: 100%;background: #f6f5ef;}

.notice .notice-line .inner{display: flex;height: 65px;}
.notice .notice-line > .inner > .inner__left{width: 50%;height: 100%;background: #111;display: flex;align-items: center;}
.notice .notice-line > .inner > .inner__left h2{color: #fff;font-size: 17px;width: 80px;font-weight: 700;}
.notice .notice-line > .inner > .inner__left h2 img{width: 90%;}
.notice .notice-line > .inner > .inner__left .more{display: block;width: 62px;height: 62px;display: flex;align-items: center;}
.notice .notice-line > .inner > .inner__left .more span{font-size: 35px;color: #fff;}


/* 공지사항 : swiper slide */
.notice .notice-line > .inner > .inner__left .swiper{
  height: 65px;
}
.notice .notice-line > .inner > .inner__left .swiper .swiper-slide{display: flex;align-items: center;}
.notice .notice-line > .inner > .inner__left .swiper a{color: #fff;}

.notice .notice-line > .inner > .inner__right{width: 50%;height: 100%;background: #f6f5ef;display: flex;justify-content: center;align-items: center;}
.notice .notice-line > .inner > .inner__right img{margin-right: 10px;width: 65%;}
.notice .notice-line > .inner > .inner__right span{font-size: 35px;cursor: pointer;}

/* promotion Swiper slide */
.notice .promotion{height: 670px;background: #f6f5ef;position: relative;transition: height 0.4s;overflow: hidden;width: 100%;}
.notice .promotion.hide{height: 0;}

.notice .promotion .swiper{
  width: calc(819px * 3 + 20px);
  height: 600px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2); /*가운데정렬*/
}
.notice .promotion .swiper .swiper-slide{opacity: 0.5;transition: opacity 1s;position: relative;}
.notice .promotion .swiper .swiper-slide-active{opacity: 1;}
.notice .promotion .swiper .swiper-slide a{position: absolute;bottom: 50px;left: 0;right: 0;margin: auto;}

.notice .promotion .swiper .swiper-pagination-bullet{
  background:transparent url(../images/promotion_slide_pager.png);
  width: 13px;height: 13px;outline: none;background-size: contain;
}
.notice .promotion .swiper .swiper-pagination-bullet-active{
  background: url(../images/promotion_slide_pager_on.png);
}

.notice .promotion .swiper .swiper-prev,
.notice .promotion .swiper .swiper-next{
  width: 42px;height: 42px;outline: none;border: 2px solid #333;
  position: absolute;top: 270px;z-index: 5;border-radius: 50%;cursor: pointer;display: flex;justify-content: center;align-items: center;  
}
.notice .promotion .swiper .swiper-prev{left: 50%;margin-left: -480px;}
.notice .promotion .swiper .swiper-next{right: 50%;margin-right: -480px;}
.notice .promotion .swiper .swiper-prev:hover,
.notice .promotion .swiper .swiper-next:hover{
  background: #333;color: #fff;
}

/* REWARES area */
.rewards{position: relative;z-index: 10;background: #1E3932;}
.rewards .inner{background: url(../images/rewards.jpg);height: 241px;display: flex;justify-content: space-between;align-items: center;}
.rewards .inner > div > img{width: 70%;display: flex;}
.rewards .inner .text-group{color: #fff;margin: auto;padding-right: 300px;}
.rewards .inner .text-group h2{font-size: 22px;padding-bottom: 10px;}
.rewards .inner .text-group h2 strong{font-weight: bold;font-size: 25px;}
.rewards .inner .text-group div{border-bottom: 1px solid #fff;padding: 10px 0 15px;}
.rewards .inner .text-group p{font-size: 13px;padding-top: 15px;}
.rewards .inner .text-group div strong, .rewards .inner .text-group p strong{font-weight: bold;}
.rewards .inner .btn-group{position: absolute;right: 0;bottom: 37px;width: 230px;display: flex;flex-wrap: wrap;}
.rewards .inner .btn-group .sign-in{width: 120px;margin-right: 10px;}
.rewards .inner .btn-group .sign-up{width: 100px;}
.rewards .inner .btn-group .gift{margin-top: 20px;flex: 1;}

/* season-product area---------------- */
.season-product{background: url(../images/2023_summer_promotion_bg.jpg) no-repeat center;background-size: cover;box-sizing: border-box;}
.season-product .inner{height: 500px;}
.season-product .inner > img{width: 30%;position: absolute;top: 30px;left: 150px;}
/* .season-product .inner .floating3{position: absolute;top: -200px;right: 0;z-index: 21;} */
.season-product .inner .text-group img{position: absolute;top: 170px;right: 120px;}
.season-product .inner .text-group div a{position: absolute;bottom: 120px;right: 365px;}

/* RESERVE COFFEE------------------------- */
.reserve-coffee{background: url(../images/reserve_bg.jpg) no-repeat center;background-size: cover;}
.reserve-coffee .inner{height: 400px;}
.reserve-coffee .inner .text-group{position: absolute;top: 70px;left: 180px;}
.reserve-coffee .inner .text-group div{padding: 30px 90px;}
.reserve-coffee .inner .reserve-img{position: absolute;right: 90px;}

/* PICK YOUR FAVORITE----------------------- */
.pick-your-favorite{background: url(../images/2023_summer1_pick_bg_1.jpg) no-repeat center fixed;background-size: cover;}
.pick-your-favorite .inner{padding: 110px 0;display: flex;justify-content: space-between;}
.pick-your-favorite .inner .text-group{width: 360px;display: flex;flex-wrap: wrap;justify-content: flex-end;}
.pick-your-favorite .inner .text-group .text2{margin: 40px 0;}
.pick-your-favorite .inner > img{width: 70%;padding: 10px;}

/* RESERVE STORE-------------------------- */
.reserve-store{background: #fff;background: url(../images/reserve_bg_pc.png) no-repeat center bottom;}
.reserve-store .inner{height: 400px;}
.reserve-store .inner .text-group{width: 60%;margin: auto;padding-top: 140px;position: absolute;left: 200px;}
.reserve-store .inner .text-group .reserve_text{position: relative;z-index: 40;}
.reserve-store .inner .text-group a{margin: 20px 130px 0;}
.reserve-store .inner .visual2{width: 90%;position: absolute;top: 10px;left: 670px;}
.reserve-store .inner .visual .visual-img2{width: 200px;position: absolute;right: 0;}

/* FIND THE  STORE------------------------------- */
.find-store{background: url(../images/store_bg.jpg);}
.find-store .inner{height: 400px;overflow: hidden;}
.find-store .inner .texture1{position: absolute;top: 0;left: 400px;}
.find-store .inner .texture2{position: absolute;right: 0;bottom: 0;}
.find-store .inner .picture{position: absolute;}
.find-store .inner .picture1{top: -10px;left: 60px;}
.find-store .inner .picture2{top: 150px;left: 290px;}
.find-store .inner .text-group{position: absolute;left: 650px;top: 100px;}
.find-store .inner .text-group .text2{margin: 20px 0;}

/* low-area */
.low-area{background: #2C2A29;}
.low-area img{position: absolute;top: 40px;right: 0;}
.low-area nav{padding: 40px 5px 50px 0px;}
.low-area nav > ul{display: flex;justify-content: left;}
.low-area nav > ul > li > a{color: #fff;font-size: 13px;margin: 15px 100px 10px 0px;text-decoration: none;}
.low-area nav > ul > li ul{margin-top: 10px;}
.low-area nav > ul > li ul li a{color: #fff;font-size: 11px;}
.low-area nav > ul > li ul li a:hover{text-decoration: underline;}

/* AWARDS---------------------------------- */
.awards{background: #282828;overflow: hidden;width: 100%;}
.awards .inner{padding: 40px 0;}
.awards .inner .swiper{width: 100%;height: 40px;}
.awards .inner .swiper .swiper-wrapper{padding: 0px 120px;}
.awards .inner .swiper-prev,
.awards .inner .swiper-next
{width:42px;height: 42px;border-radius: 50%;border: 2px solid #fff;color: #fff;display: flex;justify-content: center;align-items: center;cursor: pointer;position: absolute;top: 0;bottom: 0;margin: auto;background: #c8c8c8;opacity: 0.3;transition: all 0.3s;}
.awards .inner .swiper-prev:hover,
.awards .inner .swiper-next:hover{background: #fff;color: #333;}
.awards .inner .swiper-prev{left: -100px;}
.awards .inner .swiper-next{right: -100px;}

/* FOOTER */
footer{background: #2C2A29;border-top: 1px solid #333;}
footer .inner{padding: 40px 0 60px;} 

footer .inner .menu{display: flex;justify-content: center;} 
footer .inner .menu li{position: relative;}
footer .inner .menu li::before{content: "";position: absolute;top: 0;bottom: 0;margin: auto;width: 3px;height: 3px;background: #555;} 
footer .inner .menu li a{padding: 14px;color: #ccc;font-size: 12px;}
footer .inner .menu li a:hover{text-decoration: underline;}

footer .inner .menu li:first-child::before{display: none;}
footer .inner .menu li:first-child a{color: #669900;font-weight: bold;}
footer .inner .menu li:nth-child(4) a{color: #669900;font-weight: bold;}

footer .inner .btn-group{margin: 20px 0;display: flex;justify-content: center;}
footer .inner .btn-group a{color: #ccc;border: 1px solid #fff;padding: 10px 15px;border-radius: 4px;font-weight: bold;transition: all 0.3s;font-size: 13px;font-weight: 400;}
footer .inner .btn-group a:nth-child(2){margin: 0 15px;}
footer .inner .btn-group a:hover{background: #fff;color: #333;font-weight: bold;}

footer .inner address{text-align: center;color: #999;font-size: 12px;}
footer .inner address span{margin: 0 15px;}

footer .inner .copyright{color: #999;text-align: center;margin: 10px 0 20px;font-size: 12px;}

/* TOP BUTTON----------------------------- */
#to-top{position: fixed;right: 20px;bottom: 30px;color: #fff;border: 2px solid #fff;padding: 10px;border-radius: 10px;display: flex;align-items: center;cursor: pointer;background: #333;z-index: 20;}